<app-card>
  <div class="flex flex-col justify-between h-full">
    <div class="grid grid-cols-5 h-20 row-span1">
      <span
        [class]="
          '
          material-symbols-outlined
          col-span-2
          text-center
          w-20
          flex
          items-center
          justify-center
          text-6xl ' +
          color +
          ' ' +
          textColor
        "
      >
        bed
      </span>
      <div
        class="
          flex
          items-center
          justify-start
          col-span-3
          font-bold
          text-left
          ml-2
        "
      >
        <div>
          {{ typeRoom }}
        </div>
      </div>
    </div>
    <div class="text-4xl font-semibold row-span-1">{{ nameRoom }}</div>
    <div
      class="
        bg-blue-600
        text-white
        font-normal
        px-6
        py-3
        text-sm
        shadow-md
        text-center
      "
    >
      Estado
    </div>
    <!--  <button
      class="bg-blue-600 text-white font-normal px-6 py-3 text-sm shadow-md"
    >
      Estado
    </button> -->
  </div>
</app-card>
