<button
  (click)="clicked()"
  [ngClass]="{
    ' bg-blue-50 border-r-4 border-blue-500': btn.active,
    'hover:bg-gray-100': !btn.active
  }"
  class="
    w-full
    py-4
    pl-10
    text-left text-gray-400
    capitalize
    flex
    items-center
    justify-between
  "
>
  {{ btn.name }}
  <span
    *ngIf="!isDropdownVisible"
    class="material-symbols-outlined"
    [ngClass]="{ 'pr-5': btn.active, 'pr-6': !btn.active }"
  >
    keyboard_arrow_down
  </span>
  <span
    *ngIf="isDropdownVisible"
    class="material-symbols-outlined"
    [ngClass]="{ 'pr-5': btn.active, 'pr-6': !btn.active }"
  >
    keyboard_arrow_up
  </span>
</button>
<div [ngClass]="{ hidden: !isDropdownVisible }" class="ml-14">
  <app-button-vertical-navbar
    *ngFor="let btn of buttons; index as i"
    [btn]="btn"
    [index]="i"
    (click)="clickedDown(i)"
  ></app-button-vertical-navbar>
</div>
