<div class="w-11/12 h-screen">
  <div class="w-full flex justify-center mb-14 mt-10">
    <img src="./assets/img/logo.jpg" alt="logo-cintana" class="h-24" />
  </div>

  <div class="flex flex-col text-center">
    <app-button-vertical-navbar
      [btn]="buttons[0]"
      [index]="0"
      (click)="click(0)"
    ></app-button-vertical-navbar>
    <app-button-dropdown-vertical-navbar
      [btn]="buttons[1]"
      [index]="1"
      (click)="click(1)"
      [buttons]="buttonsDropDownInventory"
    ></app-button-dropdown-vertical-navbar>
    <app-button-dropdown-vertical-navbar
      [btn]="buttons[2]"
      [index]="2"
      (click)="click(2)"
      [buttons]="buttonsDropDownReservations"
    ></app-button-dropdown-vertical-navbar>
    <app-button-vertical-navbar
      [btn]="buttons[3]"
      [index]="3"
      (click)="click(3)"
    ></app-button-vertical-navbar>
  </div>
</div>
