<div class="w-11/12 h-screen">
  <div class="w-full flex justify-center mb-14 mt-10">
    <img src="./assets/img/cintana-logo.jpg" alt="logo-cintana" class="h-24" />
  </div>

  <div class="flex flex-col text-center">
    <app-button-vertical-navbar
      [btn]="buttons[0]"
      [index]="0"
      (click)="click(0)"
    ></app-button-vertical-navbar>
    <app-button-dropdown-vertical-navbar
      [btn]="buttons[1]"
      [index]="1"
      (click)="click(1)"
      [buttons]="buttonsDropDownInventory"
    ></app-button-dropdown-vertical-navbar>
    <app-button-dropdown-vertical-navbar
    [btn]="buttons[2]"
    [index]="2"
    (click)="click(2)"
    [buttons]="buttonsDropDownReservations"
  ></app-button-dropdown-vertical-navbar>
    <app-button-vertical-navbar
      [btn]="buttons[3]"
      [index]="3"
      (click)="click(3)"
    ></app-button-vertical-navbar>
    <!-- <button
      (click)="click(i)"
      *ngFor="let btn of buttons; index as i"
      [class]="
        btn.active == 'true'
          ? ' py-4
          pl-10
          text-left text-gray-400
          capitalize bg-blue-50 border-r-4 border-blue-500'
          : 'py-4
          pl-10
          text-left text-gray-400
          capitalize
          hover:bg-gray-100 focus:bg-transparent active:bg-transparent'
      "
    >
      {{ btn.name }}
    </button> -->
    <!-- <button
      class="py-4 pl-10 text-left text-gray-400 capitalize hover:bg-gray-100"
    >
      inicio
    </button>
    <button
      class="py-4 pl-10 text-left text-gray-400 capitalize hover:bg-gray-100"
    >
      inventario
    </button>
    <button
      class="py-4 pl-10 text-left text-gray-400 capitalize hover:bg-gray-100"
    >
      reservaciones
    </button>
    <button
      class="py-4 pl-10 text-left text-gray-400 capitalize hover:bg-gray-100"
    >
      punto de venta
    </button> -->
  </div>
</div>
