<div
  class="
    grid grid-cols-1
    md:grid-cols-2
    lg:grid-cols-3
    h-screen
    w-screen
    overflow-hidden
  "
>
  <div
    class="col-span-1 flex flex-col items-center justify-center h-screen -mt-6"
  >
    <div class="mb-14">
      <img src="./assets/img/logo.jpg" alt="logo-cintana" class="h-28" />
    </div>
    <form class="w-3/5 text-center">
      <app-input
        type="text"
        label="usuario"
        labelAlign="text-center"
        placeholder="Ingrese su nombre de usuario"
      ></app-input>
      <app-input
        type="password"
        label="contraseña"
        labelAlign="text-center"
        placeholder="Ingrese su contraseña"
      ></app-input>
    </form>
    <app-button-blue class="mt-14" (event)="navigateTo()"></app-button-blue>
  </div>
  <img
    class="
      invisible
      md:visible md:col-span-1
      lg:col-span-2
      h-screen
      w-screen
      object-cover
      shadow-lg
    "
    src="./assets/img/fondo.png"
    alt="cabaña"
  />
</div>
