<app-card class="">
  <div class="flex flex-col justify-between h-full">
    <div class="grid grid-cols-5 h-20 row-span1">
      <span
        [class]="
          '
          material-symbols-outlined
          col-span-2
          text-center
          w-20
          flex
          items-center
          justify-center
          text-6xl
          ' +
          color +
          ' ' +
          textColor
        "
      >
        bed
      </span>
      <div class="flex items-center justify-start col-span-3 font-bold ml-2">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="text-7xl font-semibold row-span-1">{{ numRooms }}</div>
    <div class="bg-gray-200">
      <div
        [class]="'progress-bar h-2 rounded-lg ' + colorProgressBar"
        [ngStyle]="{ 'width.%': porcent }"
      ></div>
    </div>
  </div>
</app-card>
