<div class="max-w-screen-lg mx-auto shadow rounded-md overflow-x-auto h-full">
  <table class="w-full bg-white border-collapse">
    <thead class="sticky top-0">
      <tr class="bg-gray-100">
        <th *ngFor="let col of columns" class="py-2 px-4 border text-left">
          {{ col }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows" class="bg-white hover:bg-gray-100">
        <td *ngFor="let col of row" class="py-2 px-4 border">{{ col }}</td>
      </tr>
    </tbody>
  </table>
</div>
