<div
  class="
    flex
    items-center
    justify-center
    h-screen
    w-screen
    fixed
    top-0
    left-0
    z-50
  "
>
  <div
    class="
      bg-black
      fixed
      left-0
      h-screen
      w-screen
      opacity-50
      z-40
      flex
      items-center
      justify-center
    "
    (click)="closeModal()"
  ></div>
  <app-card class="flex w-4/5 h-screen py-5 z-50">
    <div class="h-full w-full flex items-center justify-center">
      <ng-content></ng-content>
    </div>
  </app-card>
</div>
