<div class="grid grid-cols-4 grid-rows-2 gap-x-3">
  <app-input placeholder="Parametro de busqueda"></app-input>
  <app-button-blue width="w-full" class="w-full">Codigo</app-button-blue>
  <app-button-blue width="w-full" class="w-full">Referencia</app-button-blue>
  <app-button-blue width="w-full" class="w-full">Nombre</app-button-blue>
  <app-button-blue width="w-full" class="w-full col-span-2"
    >Crear nuevo articulo</app-button-blue
  >
  <app-button-blue width="w-full" class="w-full">Categoria</app-button-blue>
  <app-button-blue width="w-full" class="w-full"
    >Quitar Filtros</app-button-blue
  >
</div>
